body {
    background-color: #83c5be;
    font-family: 'Montserrat', sans-serif; 
    margin: 0px;
    margin-bottom: 4rem;
}

.navigation{
    background-color: #006d77;
    color: white;
    padding: 0.5rem 0.5rem;
    border-bottom-left-radius: 1rem;
}

.nav-brand-name{
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.nav-prop{
    text-align: left;
}

.list-non-bullet{
    list-style: none;
}

.list-inline{
    display: inline;
}

.link-nav{
    color: white;
    text-decoration: none;
    padding: 0rem 1rem;
}

.nav-link-active{
    font-weight: bold;
    border-bottom: 2px solid;
}

/* For is Triangle? */
.container{
    padding: 0rem 1rem;
    max-width: 600px;
    margin: auto;
    margin-top: 5rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.label-is-triangle{
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: 0.5rem;
}

.angle-input{
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    border: 1.5px solid black;
    border-radius: 0.3rem;
}

#btn-is-triangle{
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    background-color: #006d77;
    color: white;
    cursor: pointer;
}

#output{
    font-size: x-large;
    padding: 1rem;
    font-weight: bold;
}

#btn-is-triangle:hover{
    opacity: 0.7;
}

/* For Triangle Quiz */
.form-container{
    padding: 0rem 1rem;
    max-width: 700px;
    margin: auto;
    margin-top: 5rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.quiz-container {
	padding: 2rem;
	border: 2px solid black;
	border-radius: 0.5rem;
	margin: 1rem 0;
    text-align: left;
}

.quiz-container p {
	margin-bottom: 1rem;
}

.quiz-container label {
	margin-right: 0.5rem;
}

#submit-answer-btn{
    display: block;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    background: #006d77;
    color: black;
    border: 1px solid black;
    border-radius: 0.25rem;
    width: 30%;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    cursor: pointer;   
}

#score-output{
    text-align: center;
    font-size: x-large;
    padding: 1rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#submit-answer-btn:hover{
    opacity: 0.7;
}

/* For Hypotenuse */
.header{
    text-align: center;
    margin-top: 1rem;
}

.header-image{
    max-width: 100%;
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
}

.container-hypo-area{
    padding: 0rem 1rem;
    max-width: 600px;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

#perpendicular{
    display: block;
    width: 50%;
    margin: auto;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    text-align: center;
}

#base{
    display: block;
    width: 50%;
    margin: auto;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    text-align: center;
}

.hypo{
    font-size: 1.1rem;
    font-weight: bold;
}

#btn-hypotenuse{
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    background-color: #006d77;
    color: white;
    cursor: pointer;
}

#btn-hypotenuse:hover{
    opacity: 0.7;
}

#hypotenuse-output{
    font-size: x-large;
    padding: 1rem;
    font-weight: bold;
}

/* For Area */
#base-area{
    display: block;
    width: 50%;
    margin: auto;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    text-align: center;
}

#height{
    display: block;
    width: 50%;
    margin: auto;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    text-align: center;
}

#btn-area{
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    background-color: #006d77;
    color: white;
    cursor: pointer;
}

#btn-area:hover{
    opacity: 0.7;
}

#area-output{
    font-size: x-large;
    padding: 1rem;
    font-weight: bold;
}